/*title design*/
.title{
    color: #6cb4e4;
    text-align: center;
    padding: 0.25em;
    border-top: solid 2px #6cb4e4;
    border-bottom: solid 2px #6cb4e4;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}
/*connect state design*/
h2 {
    text-align: center;
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
}
/*body css design*/
.body_wrapper{
    height: 100%;
    min-height: 100vh;
    position: relative;/*←相対位置*/
}

/*text design*/
.p.top_text{
    position: relative;
}

.p.anser_text{
    position: relative;
}

/*button design*/
.button {
    text-align : center;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    text-shadow: 0 0 5px white;
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    transition: .4s;
}

.button_wrapper{
    text-align: center;
    position: absolute;
    bottom: 10px;
}

/*image css design*/
.request_img{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*footer css design*/
.footer_wrapper{
    height: 100%;
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.footer{
    text-align: center;
    width: 100%;
    padding: 0.5em 1em;
    margin: 2em 0;
    border-top: solid 2px #6cb4e4;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
.footer p {
    margin: 0; 
    padding: 0;
}
